:root {
    --primary-color: #33658a;
    --secondary-color: #2c363f;
    --accent1-color: #86bbd8;
    --accent2-color: #3da3db;
    --subtle-color: #fff;
    --backdrop-color: rgba(51, 101, 138, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.raleway-400 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.playwrite-100 {
    font-family: "Playwrite GB S", cursive;
    font-weight: 100;
    font-style: italic;
}

.playwrite-400 {
    font-family: "Playwrite GB S", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1000px;
    margin: auto;
}

header, footer {
    color: var(--subtle-color);
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header img {
    height: 150px;
    width: auto;
    padding: 0 1rem;
}

footer {
    padding: 1rem;
    justify-items: center;
}

.navigation {
    z-index: 100;
}

.navigation  ul {
    padding: 0;
    list-style-type: none;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: 0;
}

.navigation li {
    display: none;
    width: 11em;
}

.navigation a {
    color: var(--subtle-color);
    text-decoration: none;
    white-space: nowrap;
    margin: 5px;
    padding: 10px;
    display: block;
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
}

.navigation a:hover {
    border-color: var(--accent1-color);
    background-color: var(--primary-color);
}

.active {
    background-color: var(--primary-color);
    color: var(--subtle-color);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--secondary-color);
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
}

#menu::before {
    color: var(--subtle-color);
    content: "☰";
    padding: 5px;
}

#menu.open::before {
    content: "❎";
    border: none;
    padding: 0;
}

.open li {
    display: block;
}

main {
    min-height: 400px;
}

.card {
    margin: 0.5rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    min-height: 10rem;
    width: 100%;
    background-color: var(--subtle-color);
}

.card h2 {
    text-align: center;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0.5rem;
    color: var(--subtle-color);
    font-size: 1.1em;
}

.home-card-container ul {
    padding: 0.5rem;
    margin-left: 2em;
}

.home-card-container ul li {
    padding: 0.5rem 0;
}

.button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--subtle-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid var(--accent2-color)  ;
}

.button:hover {
    background-color: var(--primary-color);
}

.copyright {
    width: 100%;
    justify-items: center;
}

.copyright p {
    padding-top: 1rem;
}

.social-media {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social-media img {
    height: 72px;
    width: auto;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.social-media img:hover {
    background-color: var(--accent2-color);
}
