body {
    max-width: 1000px;
    margin: auto;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--subtle-color);
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img {
    padding: 1rem;
}

.navigation {
    position: relative;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: unset;
    position: absolute;
    top: 83px;
    right: 0;
}

.navigation li {
    display: none;
}

.navigation a {
    color: var(--subtle-color);
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.navigation a:hover {
    color: var(--accent1-color);
    border-color: var(--accent1-color);
}

.active {
    background-color: var(--accent1-color);
    color: var(--primary-color) !important;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--secondary-color);
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
}

#menu::before {
    color: var(--subtle-color);
    content: "☰";
    padding: 5px;
}

#menu.open::before {
    content: "❎";
    border: none;
    padding: 0;
}

.open li {
    display: block;
}

footer {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8em;
    padding: 1rem;
}

footer div {
    padding: 0.25rem 0;
    min-width: 200px;
}

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
}

#members {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.member {
    width: 100%;
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.member h2 {
    font-size: 1.3em;
    padding-bottom: 0.5em;
}

.member div {
    margin: 0.5rem 0;
    font-size: 0.85em;
}

.logo-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.logo-wrapper img {
    width: 200px;
    height: auto;
    padding-top: 0.5em;
}

.website a {
    font-size: 0.7em;
}
