body {
    max-width: 1000px;
    margin: auto;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--subtle-color);
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img {
    padding: 1rem;
}

.navigation {
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: unset;
    position: absolute;
    top: 165px;
    right: 0;
}

.navigation li {
    display: none;
    width: 11em;
}

.navigation a {
    color: var(--subtle-color);
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.navigation a:hover {
    color: var(--accent1-color);
    border-color: var(--accent1-color);
}

.active {
    background-color: var(--accent1-color);
    color: var(--primary-color) !important;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--secondary-color);
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
}

#menu::before {
    color: var(--subtle-color);
    content: "☰";
    padding: 5px;
}

#menu.open::before {
    content: "❎";
    border: none;
    padding: 0;
}

.open li {
    display: block;
}

.view-switcher {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
}

.view-switcher img {
    width: 2rem;
    height: 2rem;
}

footer {
    margin-top: 1.5em;
    display: block;
    font-size: 0.8em;
    padding: 1rem;
}

footer div {
    padding: 0.25rem 0;
    min-width: 200px;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 220px;
    padding: 2rem 0;
}

.social-media img {
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 1.5rem;
}

.social-media img:hover {
    border: 1px solid var(--accent1-color);
    cursor: pointer;
}

#grid-view {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

#list-view {
    padding-top: 1rem;
    width: 100%;
    display: none;
}

#list-view table {
    width: 100%;
    background-color: var(--subtle-color);
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-collapse: collapse;
}

#list-view th, td {
    text-align: left;
    padding: 0.25em;
}

#list-view th {
    background-color: var(--primary-color);
    color: white;
}

#list-view tr:nth-child(even) {
    background-color: var(--accent1-color);
}

.member {
    width: 100%;
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.member h2 {
    font-size: 1.3em;
    padding-bottom: 0.5em;
}

.member div {
    margin: 0.5rem 0;
    font-size: 0.85em;
}

.logo-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.logo-wrapper img {
    width: 200px;
    height: auto;
    padding-top: 0.5em;
    background-color: var(--secondary-color);
}

.website a {
    font-size: 0.7em;
}

/*Home Page*/
.hero {
    padding-top: 1rem;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.call-to-action {
    position: relative;
}

.call-to-action button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.body-button {
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    border: 1px solid var(--primary-color);
}

.body-button:hover {
    color: var(--subtle-color);
    background-color: var(--primary-color);
    border: 1px solid var(--accent1-color);
    cursor: pointer;
}

.card-container {
    display: block;
}

.card-container-spotlight {
    display: block;
}

.card {
    margin-top: 1rem;
    border: 1px solid var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 10rem;
}

.card h2 {
    text-align: center;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0.5rem;
    color: var(--subtle-color);
    font-size: 1.1em;
}

.card h2 span {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: normal;
}

.card ul {
    padding-top: 1rem;
    padding-left: 2rem;
}

.card h3 {
    text-align: center;
    background-color: var(--accent2-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
    padding: 0.4rem;
    color: var(--subtle-color);
    font-size: 0.9em;
}

.card h4 {
    text-align: center;
    background-color: var(--accent2-color);
    margin: 0;
    padding: 0 0 0.5rem 0;
    color: var(--subtle-color);
    font-size: 0.6em;
}

.two-column {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9em;
}

#weather-detail img {
}

#weather-forecast {
    padding: 1rem;
}

.spotlight-detail {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    white-space: nowrap;
}

.spotlight-detail img {
    width: 100%;
    height: auto;
}


/*Join Page*/

.join {
    padding: 1rem;
    z-index: -1;
}

.join label {
    display: block;
    padding-bottom: 1rem;
    font-size: 0.8em;
}

.join input, select, textarea {
    display: block;
    font-size: 1.2em;
    width: 17em;
    height: 2em;
}

.join button {
    position: absolute;
    right: 1rem;
    padding: 0.5rem;
}

.join textarea {
    height: 6em;
}

.form-layer {
    height: 2.2em;
    position: relative;
}

.form-wrapper {
    display: block;
}

.learn-more {
    text-align: center;
    margin: 1rem;
    min-height: 7rem !important;
}

.learn-more button {
    margin-top: 1.4rem;
}

.card {
    margin-top: 1rem;
    border: 1px solid var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 10rem;
}

.card h2 {
    text-align: center;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0.5rem;
    color: var(--subtle-color);
    font-size: 1.1em;
}

dialog {
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--accent2-color);
    width: 50%;
    max-width: 600px;
}

dialog::backdrop {
    background-color: var(--backdrop-color);
}

.dialog-body {
    padding: 1rem;
}

.dialog-body h4 {
    background-color: unset;
    color: var(--secondary-color);
    font-size: 1em;
    border: none;
    border-radius: unset;
}

.dialog-title-bar {
    position: relative;
}

.dialog-title-bar button {
    background-color: var(--primary-color);
    border: none;
    position: absolute;
    top: -12px;
    right: 9px;
    cursor: pointer;
}

.dialog-title-bar button::before {
    content: "❎";
    border: none;
    padding: 0;
}

#non-profit {
    background-color: white;
    animation: non-profit-pulse 3s;
}

@keyframes non-profit-pulse {
    0% {
        background-color: white;
    }
    30% {
        background-color: var(--primary-color);
    }
    50% {
        background-color: var(--primary-color);
    }
    100% {
        background-color: white;
    }
}

#bronze {
    background-color: white;
    animation: bronze-pulse 3s;
}

@keyframes bronze-pulse {
    0% {
        background-color: white;
    }
    30% {
        background-color: #cd8532;
    }
    50% {
        background-color: #cd8532;
    }
    100% {
        background-color: white;
    }
}

#silver {
    background-color: white;
    animation: silver-pulse 3s;
}

@keyframes silver-pulse {
    0% {
        background-color: white;
    }
    30% {
        background-color: #c0c0c0;
    }
    50% {
        background-color: #c0c0c0;
    }
    100% {
        background-color: white;
    }
}

#gold {
    background-color: white;
    animation: gold-pulse 3s;
}

@keyframes gold-pulse {
    0% {
        background-color: white;
    }
    30% {
        background-color: #ffd700;
    }
    50% {
        background-color: #ffd700;
    }
    100% {
        background-color: white;
    }
}

.ty-data-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    text-wrap: nowrap;
    padding: 1rem;
}
