@media (min-width: 43.5em) {

    header {
        grid-template-columns: 1fr 2fr 3fr;
    }
    
    header h1 {
        color: var(--subtle-color);
    }
    
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #menu {
        display: none;
    }

    .navigation {
        position: unset;
    }
    
    .navigation ul {
        flex-direction: row;
        position: unset;
        top: unset;
        right: unset;
        width: unset;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
        width: unset;
    }

    /*Home Page*/
    .card-container {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        grid-gap: 1rem;
    }

    .card-container-spotlight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    /*Join Page*/
    .form-wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 1rem;
    }
    
    /*Discover Page*/
    .discover {
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-gap: 1rem;
    }
}
