
body {
    max-width: 1000px;
    margin: auto;
}

header {
    text-align: center;
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 1px;
}

header h1 {
    color: var(--subtle-color);
    margin-left: 2rem;
}

header .banner {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    align-items: center;
    text-shadow: 5px 5px 5px var(--secondary-color);
}

header .banner img {
    width: auto;
    height: 6rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--secondary-color);
}

.navigation {
    position: relative;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: unset;
    position: absolute;
    top: 0;
    right: 0;
}

.navigation li {
    display: none;
}

.navigation a {
    color: var(--subtle-color);
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.navigation a:hover {
    color: var(--accent1-color);
    border-color: var(--accent1-color);
}

.small-nav {
    width: 100%;
    min-width: 300px;
    border-bottom: 1px solid var(--secondary-color);
    display: grid;
    justify-items: center;
}

.small-nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    padding: 0.5rem 0;
    justify-items: center;
}

.small-nav li {
    display: block;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.small-nav a {
    color: var(--subtle-color);
    text-decoration: none;
    padding: 5px 0;
    width: 100px;
    display: block;
    text-align: center;
    font-size: 1rem;
}

.small-nav a:hover {
    box-shadow: 3px 3px 5px var(--accent2-color);
}

.open li {
    display: block;
}

.active {
    background-color: var(--primary-color);
    color: var(--subtle-color);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--secondary-color);
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
}

#menu::before {
    color: var(--subtle-color);
    content: "☰";
    padding: 5px;
}

#menu.open::before {
    content: "❎";
    border: none;
    padding: 0;
}

.card-container {
    padding: 0 1rem;
}

.two-cards {
    padding: 0.5rem 1rem;
}

.card {
    margin: 0.5rem 0;
    border: 1px solid var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 10rem;
}

.card h2 {
    text-align: center;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0.5rem;
    color: var(--subtle-color);
    font-size: 1.1em;
}

.card h2 span {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: normal;
}

.card ul {
    padding-top: 1rem;
    padding-left: 2rem;
}

.location {
    padding: 1rem;
    margin-bottom: 1rem;
    display: grid;
    justify-items: center;
    max-height: 250px;
    overflow: hidden;
}

.location img {
    width: 100%;
    height: auto;
}

#courses {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course {
    width: 150px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.course:hover {
    box-shadow: 2px 2px 2px var(--accent2-color);
}

.sub-nav-selected {
    color: var(--subtle-color);
    background-color: var(--primary-color);
}

.completed {
    color: var(--subtle-color);
    background-color: var(--accent2-color);
}

dialog {
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--accent2-color);
    width: 50%;
    max-width: 600px;
}

dialog::backdrop {
    background-color: var(--backdrop-color);
}

dialog h4, h5, p, span {
    padding-top: 0.5rem;
    text-align: center;
    display: block;
}

dialog .technology {
    padding: 0.5rem 0;
    margin: 0 auto;
    width: 50%;
}

dialog p, span {
    font-size: 0.8em;
}

.dialog-title-bar {
    position: relative;
}

.dialog-title-bar button {
    background-color: var(--primary-color);
    border: none;
    position: absolute;
    top: 9px;
    right: 9px;
}

.dialog-title-bar button::before {
    content: "❎";
    border: none;
    padding: 0;
}

.course-detail {
    margin: 0;
    border: 1px solid var(--secondary-color);
    min-height: 10rem;
}

.course-detail h2 {
    text-align: center;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0.5rem;
    color: var(--subtle-color);
    font-size: 1.1em;
}

footer {
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    margin-top: 1em;
    padding: 1px;
}

footer p {
    margin: 0.5em;
    color: var(--subtle-color);
}
